<style>
  table {
    border-collapse: collapse;
    border: solid 1px #000000;
  }
  td {
    border: solid 1px #000000;
  }
  th {
    border: solid 1px #000000;
    text-align: center;
  }
</style>

<article{{ attributes }}>
  {{ title_prefix }}
  <h1{{ title_attributes }}>
    {{ label }}
  </h1>
  {{ title_suffix }}

  <div{{ content_attributes }}>
    {{ content }}
  </div>
</article>
